{{ form_start(form, {'attr': {'class': 'ut26uw'}}) }}
{{ form_row(form.programDateAt) }}
<div class="q7n7wn">
	<div class="box-label text-uppercase">
		{{ form_row(form.q) }}
	</div>
</div>
<button class="btn btn-outline-success mb-3">Filtrer</button>
{{ form_end(form) }}
